 /* .ProfilePage{
    display: flex;
 } */

h1{
    text-align: center;
}
.btn{
    align-items: center;
    margin-inline-start: 15cm;
    text-align: center;
}
h3{
    text-align: center;
}

.studentbox{
    border: 1px solid blue;
    margin-top: 10px;
    align-items: center;
    width: 90%;
   
}


.teacherbox{
   
    border: 1px solid red;
    margin-top: 10px;
    align-items: center;
    width: 90%;

    
}

.tutor-button{
    margin-top: 10px;
    width: 90%;
   

}