 /* .ProfilePage{
    display: flex;
 } */

h1{
    text-align: center;
  
}
.btn{
    align-items: center;
    margin-inline-start: 15cm;
    text-align: center;
}
h3{
    text-align: center;
}

.studentbox{
    border: 1px solid blue;
    margin-top: 10px;
    text-align: center;
   
}


.teacherbox{
   
    border: 1px solid red;
    margin-top: 10px;
    text-align: center;

    
}

.tutor-button{
    margin-top: 10px;
    text-align: center;
   

}

.center-element{
    text-align: center;
}


.left-element{
    text-align: left;
}

.teacher-box{
    margin-top: 10px;

}

.student-box{
    margin-top: 10px;

}