.headline{
    text-align: center;
}
.container1{
    background-color: rosybrown;
    width: fit-content;
    align-items: center;
min-width: 5cm;
    border-style: solid;
    /* border-radius: 10mm; */
    border-color: rgb(134, 235, 230);
   
}

.find-card-header{
    text-align: center;
    background-color: rgb(33, 159, 168);
    text-align: center;
    border-width: 2mm;
    border-color: lavenderblush;
    border-style: solid;
    /* border-radius: 10mm; */
    
    

}


h1{
    text-align: center;
}

.green-btn{
    background-color: blue;
}
.col-style{
    border-top: 1px solid black  ;
   
}

.background-color{
    background-color: brown;
}

.sort-text{
    cursor: pointer;
}
.border{
    border-style: solid;
   /* border-radius: 6mm; */
   background-color: rgb(76, 194, 202);
  border-color: lightcyan;
}

.skill-btn  {
    float: left;
  }

.content {
    margin-left: 0mm;
    /* border-radius: 3mm; */
    
}
.navbar-brand{
    align-items: center;
    text-align: center;
}
.filter-card {
 border: 2mm;
 
}
.form-control{
    border-radius: 1mm;
}
