.headline{
    text-align: center;
}

.find-card-header{
    text-align: center;
    background-color: chartreuse;
}

.green-btn{
    background-color: blue;
}
.col-style{
    border-top: 1px solid black  ;
   
}

.background-color{
    background-color: brown;
}

.sort-text{
    cursor: pointer;
}
.border{
    border: 1px solid black;
}

.content {
    background-color: burlywood;
}
